<div id="main-div" style="width: 80%;">
  {{#link-to "home" tagName="span"}}
    <p id="links">Home</p>
  {{/link-to}}
  {{#link-to "list" tagName="span"}}
    <p id="links">List table</p>
  {{/link-to}}
  {{#link-to "login" tagName="span"}}
    <p id="links">Log out</p>
  {{/link-to}}
</div>