/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
.table-div {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2a99ac;
  border-radius: 5px;
}

#links {
  text-decoration: none;
  color: white; /* Change to your desired text color */
  font-size: 18px; /* Change to your desired font size */
  font-weight: bold;
  transition: color 0.3s ease;
}

#links:hover {
  color: black; /* Change to your desired hover color */
  cursor: pointer;
}
.container {
  max-width: 500px;
  border-radius: 5px;
  padding: 20px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 15px;
  border-bottom: 2px solid #e4e1e1;
}

.add {
  width: 30px;
  height: 30px;
  background: aqua;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d {
  margin-bottom: 10px;
}

.button:hover {
  cursor: pointer;
}

#marvel {
  border-collapse: collapse;
  margin: 25px 0;
  border-radius: 5px 5px 0 0;
  border-color: black;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(17 17 17 / 15%);
}

#marvel thead tr {
  background-color: aqua;
  color: black;
  text-align: left;
  font-weight: bold;
  border-radius: 5px solid black;
}

#marvel th,
#marvel td {
  padding: 12px 15px;
}

/* #marvel tbody tr:hover {
  background-color: #bcfdf0;
} */
#marvel tbody tr:nth-of-type(even) {
  background-color: #bcfdf0;
}

#marvel tbody tr:last-of-type {
  border-radius: 2px solid #009879;
}

#deleete {
  padding: 4px 15px;
  border: none;
  border-radius: 2rem;
  background-color: #d893a3;
  color: #b30021;
  text-align: center;
}

#edit-button {
  padding: 4px 15px;
  border: none;
  border-radius: 2rem;
  background-color: #86e49d;
  color: #006b21;
  text-align: center;
}

#edit-button:hover {
  cursor: pointer;
}

#deleete:hover {
  cursor: pointer;
}

.add-btn {
  padding: 4px 15px;
  border: none;
  border-radius: 2rem;
  background-color: #2a99ac;
  color: white;
  text-align: center;
  font-weight: bold;
  transition: color 0.3s ease;
}

.add-btn:hover {
  cursor: pointer;
  color: black;
}

#delete-button {
  padding: 4px 15px;
  border: none;
  border-radius: 2rem;
  background-color: #2a99ac;
  color: white;
  text-align: center;
  font-weight: bold;
  transition: color 0.3s ease;
}

#delete-button:hover {
  cursor: pointer;
  color: black;
  font-weight: bold;
  transition: color 0.3s ease;
}

.table-container {
  width: 200px;
  height: 100px;
  background-color: #009879;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table-container:hover {
  transform: translate(5px, -5px);
  box-shadow: 5px 5px 10px rgb(67 67 67);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.view-btn {
  border: none;
  border-radius: 4px;
  background-color: #6ebaab;
  padding: 4px;
}

.view-btn:hover {
  cursor: pointer;
  font-weight: bold;
}

#searchBar {
  width: 100%;
  max-width: 250px;
  display: flex;

  /* border-radius: 3px; */
  padding: 3px 4px;
}

.loading-div {
  width: max-content;
  max-width: max-content;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
  height: 100px;
  font-size: large;
  align-items: center;
  padding: 10px 35px;
}

.flash-message {
  position: fixed; /* Position the flash message */
  top: 100px; /* Initially hide the flash message above the viewport */
  right: 50px; /* Adjust the right position */
  padding: 10px;
  border-radius: 10px;
  animation: slideIn 0.5s ease forwards; /* Define the animation */
}

@keyframes slideIn {
  from {
    right: -100px; /* Start position */
  }

  to {
    right: 20px; /* End position */
  }
}

.special-alert-success {
  background-color: #86e49d;
  color: #006b21;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 300px;
}

.special-alert-warning {
  background-color: #d893a3;
  color: rgb(91 23 23);
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 250px;

  /* font-weight: bold; */
}

.special-alert-info {
  background-color: rgb(228 228 138);
  color: black;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 250px;

  /* font-weight: bold; */
}

.floating-component {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  z-index: 1000; /* Ensure the component appears above other elements */
}
.login{
  /* width: 100%; */
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.logbutton{
  max-width: fit-content;
}
.home-history{
  max-width: fit-content;
  padding: 10px 30px;
  background-color:#bcfdf0;
}
.logging{
  position: absolute; /* Position the flash message */
  top: 5px; /* Initially hide the flash message above the viewport */
  right: 50px; /* Adjust the right position */
  padding: 2px 10px;
  border-radius: 10px;
  animation: slideIn 0.5s ease forwards; 
  background-color:rgb(222, 237, 250);
}
.logout{
  text-decoration: none;
  color: black; /* Change to your desired text color */
  font-size: 18px; /* Change to your desired font size */
  font-weight: bold;
}